.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'roboto';
  height: 10vh;
}
.ul-container {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.li {
  margin-right: 10px;
}
.logo {
  width: 120px;
  height: 50px;
}
.logout-btn {
  background-color: #0967d2;
  border-radius: 5px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
